{% extends 'layout.html' %}

{% block content %}
<img class="page" src="{{url_for('static', filename='img/data.png')}}">

<div class="data-section">
    <div class="data-box">
      <h2>
      {{ getPrintedName() }}
    </h2>
    <div class="data-item">
      <span>
        TAILLE
      </span>
      <div class="value">
        1.95 CM
      </div>
    </div>
    <div class="data-item">
      <span class="date">
        MAJ. 17/09/2024
      </span>
    </div>
    <div class="data-item">
      <span>
        POIDS
      </span>
      <div class="value">
        71 KG
      </div>
    </div>
    <div class="data-item">
      <span class="date">
        MAJ. 17/09/2024
      </span>
    </div>
    <div class="data-item">
      <span>
        ÂGE
      </span>
      <div class="value">
        23 ANS
      </div>
    </div>
    <div class="data-item">
      <span class="date">
        MAJ. 03/04/2024
      </span>
    </div>
  </div>
  <div class="data-box">
    <h2>
      DERNIERE PRISE DE SANG
    </h2>
    <span class="date">
      MAJ. 03/04/2024
    </span>
    <div class="data-item">
      <span>
        HEMOGLOBINE
      </span>
      <div class="value">
        13.5g/dL
      </div>
    </div>
    <div class="data-item">
      <span>
        CHOLESTEROL TOTAL
      </span>
      <div class="value">
        180mg/dL
      </div>
    </div>
    <div class="data-item">
      <span>
        ALANINE
      </span>
      <div class="value">
        30U/L
      </div>
    </div>
  </div>
</div>
</div>

{% endblock%}