{% extends 'layout.html' %}
{% block content %}
<script>
function onStart() {
  let divElement = document.getElementById('scroller');
  divElement.scrollIntoView({ behavior: "smooth", block: "end", inline: "nearest" });
}
</script>
<div class="container">
  <div class="chat-container" id="scroller">
    {% for message in getMessages() %}
    {% if message.isUser() %}
    <div class="chat-bubble-container user">
      <div class="chat-bubble user">
        <p>
          {{ message.getContent() }}
        </p>
      </div>
      <div class="logo-container user">
        <img src="{{ url_for('static', filename='img/account.png') }}" />
      </div>
    </div>
    {% else %}
    <div class="chat-bubble-container bot">
      <div class="logo-container bot">
        <img src="{{ url_for('static', filename='img/logo.png') }}" />
      </div>
      <div class="chat-bubble bot" markdown="1">
        <p>
          {{ message.getContent() }}
        </p>
      </div>
    </div>
    {% endif %}
    {% endfor %}
    <br>
  </div>
  <script>
    setTimeout(onStart, 200); // Adjust the delay as necessary
  </script>
</div>

<div class="assistant-interface">
  <div class="search-container">
    <img class="icon"
      src="{{ url_for('static', filename='img/loupe.png')}}">
    <form class="assistant-form" action="{{ url_for('assistant')}}"
      method="POST" style="display: none;">
      <input type="text" placeholder="Posez une question..."
        class="search-input">
    </form>
    <input type="text" placeholder="Posez une question..."
      class="search-input" id='question-input'>
    <button class="search-button"><img class="icon"
        src="{{ url_for('static', filename='img/camera.png')}}"></button>
    <button class="search-button"><img class="icon"
        src="{{ url_for('static', filename='img/mic.png')}}"></button>
  </div>
</div>

<script>
  document.getElementById('question-input').addEventListener('keypress', function(event) {
  if (event.key === 'Enter') {
    event.preventDefault();
    const inputValue = this.value;
    fetch("{{ url_for('discussion') }}", {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({ question: inputValue })
    })
    .then(response => response.json())
    .then(data => {
      console.log(data);
      this.value = '';
      if(data.message === 'first'){
        window.location.href = "{{ url_for('discussion') }}"
      } else {
        location.reload()
      }
    })
    .catch(error => {
      console.error('Error:', error);
    });
  }
});
</script>

{% endblock %}