{% extends 'layout.html' %}
{% block bandeau %}
<h1>Bienvenue sur Medica</h1>
{% endblock %}

{% block content %}
<div class="main-content">

  <div class="primary-content">
    <h1>MEDICA C'EST QUOI ?</h1>
    <p>
      Votre médecin à portée de main.
    </p>
    <div class="bubble-container">
      <div class="bubble">
        <h2>Nos avantages</h2> <br>
        <ul>
          <li>Analyse en temps réel des données médicales</li>
          <li>Alertes pour les vaccins</li>
          <li>Rappels</li>
        </ul>
      </div>
      <div class="bubble">
        <h2>Nos partenaires</h2> <br>
        <ul>
          <li>Apple</li>
          <li>Samsung</li>
          <li>Fitbit</li>
        </ul>
      </div>
      <div class="bubble">
        <h2>Actualités</h2> <br>
        <ul>
          <li>Nouveau partenariat avec Fitbit</li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}