{% extends 'layout.html' %}

{% block content %}
<h1>MEDICA C'EST QUOI ?</h1>
<p>
  La première plateforme de gestion automatisée et centralisée de vos données
  médicales.
</p>
<div class="bubble-container">
  <div class="bubble">
    <h2>Nos avantages</h2>
    <ul>
      <li>Analyse en temps réel des données médicales</li>
      <li>Alertes pour les vaccins</li>
      <li>Rappels</li>
    </ul>
  </div>
  <div class="bubble">
    <h2>Nos partenaires</h2>
    <ul>
      <li>Apple</li>
      <li>Samsung</li>
    </ul>
  </div>
</div>
{% endblock %}