{% extends 'layout.html' %}
{% block bandeau %}
<h1>Bienvenue sur Medica</h1>
{% endblock %}

{% block content %}
<div class="main-content">

  <div class="primary-content">
    <div style="display: inline-flex; align-items: center;">
      <img class="logo"
        src=" {{ url_for('static', filename='img/logo-full.png' ) }}"
        alt="Logo Medica">
      <h1>C'EST QUOI ?</h1>
    </div>
    <p>
      Votre santé à portée de main.
    </p>
    <div class="bubble-container">
      <div class="bubble">
        <h2>Nos avantages</h2> <br>
        <ul>
          <li>Analyse en temps réel des données médicales</li>
          <li>Alertes pour les vaccins</li>
          <li>Rappels</li>
        </ul>
      </div>
      <div class="bubble">
        <h2>Actualités</h2> <br>
        <ul>
          <li>Nouveau traitement contre le SIDA</li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}