<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medica - Gestion de santé</title>
    <link rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <h1>Bienvenue sur Medica</h1>
    <main>
      {% block content %}
      {% endblock %}
    </main>
    <footer>
      <p>&copy; 2023 Medica. Tous droits réservés.</p>
    </footer>
  </body>
</html>