<!DOCTYPE html>
<html lang="fr">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medica - Gestion de santé</title>
    <link rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/x-icon"
      href="{{ url_for('static', filename='img/logo.png') }}">
  </head>
  <body>
    <header>
      <div class="top-bar">
        <div class="logo">
          <img class="logo"
            src="{{ url_for('static', filename='img/logo_solo.png') }}">
          <img class="logo-discard"
            src="{{ url_for('static', filename='img/edica.png') }}">
        </div>
        {% if not is_connected() %}
        <div class="buttons">
          <button
            onclick="window.location.href = '{{ url_for('login') }}';">Se
            connecter</button>
          <button
            onclick="window.location.href = '{{ url_for('signup') }}';">S'inscrire</button>
        </div>
        {% else %}
        <div class="user-name"><a href="{{ url_for('account') }}">{{ getName()
            }}</a></div>
        <div class="buttons">
          <button
            onclick="window.location.href = '{{ url_for('disconnect') }}';">Se
            déconnecter</button>
        </div>
        {% endif %}
      </div>
      <nav class="nav-bar">
        <a href="{{ url_for('index') }}">
          <div class="nav-content">
            <img class="navimg"
              src="{{url_for('static', filename='img/house.png')}}"
              alt="Accueil">
            Accueil
          </div>
        </a>
        <a href="{{ url_for('mds') }}">
          <div class="nav-content">
            <img class="navimg"
              src="{{url_for('static', filename='img/plus.png')}}"
              alt="Mon Dossier Sante">
            Mon Dossier Santé
          </div>
        </a>
        <a href="{{ url_for('rappels') }}">
          <div class="nav-content">
            <img class="navimg"
              src="{{url_for('static', filename='img/bell.png')}}"
              alt="Mes Rappels">
            Mes Rappels
          </div>
        </a>
        <a href="{{ url_for('assistant') }}">
          <div class="nav-content">
            <img class="navimg"
              src="{{url_for('static', filename='img/assistant.png')}}"
              alt="Mon Conseiller">
            Mon Conseiller
          </div>
        </a>
      </nav>
    </header>
    {% block bandeau %}
    {% endblock %}
    <main>
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      <div class="flash-messages">
        {% for category, message in messages %}
        <p class="flash {{ category }}">{{ message }}</p>
        {% endfor %}
      </div>
      {% endif %}
      {% endwith %}

      {% block content %}
      {% endblock %}
    </main>
    <div class="foot">
      <p>&copy; 2024 Medica. Tous droits réservés.</p>
    </div>
  </body>

</html>
