/* Style général */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-image: url("../img/background.jpeg");
    background-attachment: fixed;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

h1,
h2 {
    color: rgb(2, 50, 77);
    text-align: center;
}

a {
    color: #02344D;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

main {
    z-index: 1;
    width: 100%;
    margin: 20px auto;
    padding: 2rem;
    /* top: 20rem; */
    background-color: #fffa;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;

}


footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    width: 100%;
    position: fixed;
    bottom: 0;
}

button,
.btn-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(2, 50, 77);
    color: #fff;
    border: rgb(2, 170, 160);
    border-width: 2px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    width: 125px;
}

button:hover,
.btn-link:hover {
    background-color: rgb(2, 170, 160);
}

p {
    font-weight: 700;
    font-size: 1.5em;
    margin-bottom: 20px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form label {
    align-self: flex-start;
    margin-top: 10px;
    font-weight: bold;
    color: #333;
}

form input[type="text"],
form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #02344D;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 10px;

}

form button:hover {
    background-color: #03354E;
}

.main-content {
    display: flex; /* Utiliser flexbox pour la mise en page */
    justify-content: center;
    padding: 20px;
}

.sidebar {
    width: 200px;
    flex: 1; /* Prend 1 part de l'espace */
    padding: 20px;
    background-color: #f0f0f0; /* Couleur de fond pour le panneau latéral */
    border-right: 1px solid #ccc; /* Bordure droite pour séparer le contenu */
    margin-right: 20px;
}

.primary-content {
    flex: 3; /* Prend 3 parts de l'espace */
    padding: 20px;
    display: flex; /* Utiliser flexbox à l'intérieur du contenu principal */
    flex-direction: column; /* Aligne les éléments en colonne */
    align-items: center; /* Centre les éléments horizontalement */
}

.flash {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.flash.success {
    background-color: #d4edda;
    color: #155724;
}

.flash.error {
    background-color: #f8d7da;
    color: #721c24;
}

.flash.info {
    background-color: #cce5ff;
    color: #004085;
}

.top-bar {
    position: top;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 10px;
    background-color: white;
    color: #333;
}

.top-bar .buttons button {
    align-content: center;
    background-color: rgb(2, 50, 77);
    color: white;
    border: none;
    padding: 8px 12px;
    margin: 10px;
    margin-top: 20px;
    cursor: pointer;
}

.top-bar .buttons button:hover {

    background-color: rgb(2, 170, 160);
}


.top-bar .user-name {
    font-size: 1.0em;
    font-weight: 800;
    text-decoration: underline;
    margin-right: 20px;
}

.nav-bar {
    background-color: rgb(2, 50, 77);
    display: flex;
    justify-content: center;
}

.nav-bar a {
    align-self: center;
    align-items: center;
    color: white;
    padding: 15px 20px;
    font-size: 1.5em;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    display: flex;
}

.nav-bar a:hover {
    background-color: rgb(2, 170, 160);
}

.button-hour {
    width: 50px;
    padding: 10px;
    background-color: rgb(2, 170, 160);
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 10px;
}

.bubble-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
    gap: 20px;
}

.bubble ul {
    list-style-type: disc;
    padding-left: 40px;
    margin: 0;
    padding-right: 20px;
}

.bubble h2 {
    padding-top: 20px;
}

.bubble {
    width: 300px;
    height: 300px;
    border-radius: 15%;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    margin: 20px;
    font-weight: 700;

}

.bubble:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    border-radius: 15%;
    background-color: #e9f5fe;
    z-index: -1;
}

.bubble:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border-radius: 15%;
    background-color: #e9f5fe;
    z-index: -2;
}

.bubble-rappels {
    width: 330px;
    height: 200px;
    border-radius: 15%;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    margin: 20px;
}

.bubble-rappels:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    border-radius: 15%;
    background-color: #e9f5fe;
    z-index: -1;
}

.bubble-rappels:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border-radius: 15%;
    background-color: #e9f5fe;
    z-index: -2;
}

.bubble-rappels h3 {
    list-style-type: disc;
    padding-left: 40px;
    padding-top: 20px;
    margin: 0;
    padding-right: 40px;
    text-align: center;
}

.bubble-rappels ul {
    list-style-type: disc;
    padding-left: 40px;
    margin: 0;
    padding-right: 20px;
}

.logo {
    height: 100px;
}


.logo-discard {
    height: 100px;
}


.background-image {
    position: fixed;
    top: 10em;
    left: 0;
    width: auto;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

.background-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


header {
    top: 0;
    z-index: 1000;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

body::after {
    content: '';
    display: block;
    height: 50px;
}

.foot {
    bottom: 0;
    z-index: 999;
    width: 100%;
    height: 50px;
}

.page {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
    padding: 100px;
}

.search-container {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border: 4px solid rgb(46, 46, 46);
    border-radius: 45px;
    width: 100%;
    height: 90px;
    max-width: 1000px;
}

.search-input {
    font-size: 1.3em;
    padding: 10px;
    border: none;
    outline: none;
    background-color: transparent;
    flex: 1;

}

.search-input::placeholder {
    color: rgba(0, 0, 0, 0.7);
}


.icon {
    height: 60px;
}

.search-button {
    position: relative;
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: linear 0.1s;

}

.search-button:hover {
    background-color: transparent;
    transform: scale(1.1);
}

.assistant-interface {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.folder-button {
    position: relative;
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: linear 0.1s;
}

.folder-button:hover {
    background-color: transparent;
    transform: scale(1.1);
}

.navbutton {
    padding: 10px;
    align-items: center;
    position: relative;
    display: inline-flex;
}



.nav-content {
    display: flex;
    align-items: center;
}

.navimg {
    margin-right: 5px;
    width: 35px;
    height: auto;
}

/****************************************************************
*                                                               *
*                        FOR SMARTPHONES                        *
*                                                               *
*                                                               *
*****************************************************************/

.transparent-tabbar .tab-position .tab.active .tab-header .favicon:not(.svg),
.theme-dark .tab-position .tab.active .tab-header .favicon:not(.svg),
.acc-dark.color-behind-tabs-off .tab-position .tab.active .tab-header .favicon:not(.svg) {
    filter: none;
}

/* 
@media (max-width: 768px) {
    .top-bar .site-name {
        font-size: 1.5em;
    }

    .top-bar {
        flex-direction: column;
        padding: 10px;
    }

    .nav-bar a {
        padding: 10px;
        font-size: 1.2em;
    }

    .bubble,
    .bubble-rappels {
        width: 100%;
        max-width: 300px;
        height: auto;
        margin: 10px 0;
        border-radius: 10px;
    }

    .bubble-container {
        flex-direction: column;
        align-items: center;
    }

    main {
        padding: 1rem;
        width: 90%;
    }


} */

@media (max-width: 768px) {

    h1,
    h2 {
        font-size: 1.5em;
    }

    button,
    .btn-link {
        padding: 8px 15px;
        font-size: 14px;
    }

    p {
        font-size: 1.2em;
    }

    .top-bar .site-name {
        font-size: 1.2em;
    }

    .nav-bar a {
        padding: 8px;
        font-size: 1em;
    }

    form {
        width: 90%;
        padding: 15px;
    }

    form input[type="text"],
    form input[type="password"] {
        padding: 8px;
        font-size: 14px;
    }

    form button {
        font-size: 14px;
    }

    .logo-discard {
        display: none;
    }

    .page {
        display: block;
        margin-right: auto;

    }


    .search-container {
        padding: 8px;
        display: flex;
        border: 4px solid rgb(46, 46, 46);
        border-radius: 40px;
        height: 40px;
        max-width: 600px;
    }

    .search-input {
        padding: 8px;
        font-size: 14px;
        border: none;
        outline: none;
        background-color: transparent;

    }

    .search-input::placeholder {
        color: rgba(0, 0, 0, 0.7);
    }


    .icon {
        height: 20px;
    }

    .assistant-interface {
        padding: 10px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }

    .folder-button {
        position: relative;
        background-color: transparent;
        color: white;
        cursor: pointer;
        transition: linear 0.1s;
    }

}